{% extends 'base.html' %}
{% block head_title %}{{ title }}{% endblock head_title %}
{% block content %}
    <div class="container">
        <div class="col-md-6 mx-auto">
            <h1 style="color: darkblue; text-align: left">{{ title }}</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-group">
                    <h2 for="id_plan_name" class="col-sm-2 col-form-label" style="color:darkblue">Title:</h2>
                    <input type="text" id="id_plan_name" name="plan_name" class="form-control" required>
                </div>
                <div class="form-group">
                    <h2 for="id_plan_description" class="col-sm-2 col-form-label" style="color:darkblue">Description:</h2>
                    <textarea id="id_plan_description" name="plan_description" class="form-control" required></textarea>
                </div>
                <div class="form-group">
                    <h2 for="id_plan_date" class="col-sm-2 col-form-label" style="color:darkblue">Date:</h2>
                    <input type="date" id="id_plan_date" name="plan_date" class="form-control" required>
                </div>
                <div class="form-group">
                    <h2 for="id_plan_time" class="col-sm-2 col-form-label" style="color:darkblue">Time:</h2>
                    <input type="time" id="id_plan_time" name="plan_time" class="form-control" required>
                </div>



                <button type="submit" class="btn btn-outline-primary">Create</button>
                <a href="{% url 'blog:list_daily_plans' %}"class= "btn btn-outline-secondary">Back</a>
            </form>
        </div>
    </div>
{% endblock content %}
